.header {
  margin-top: 130px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  border-radius: 15px;
  min-height: 40vh;
  display: grid;
  place-items: center;
  padding: 3rem var(--size-border);
  text-align: center;
}

.header h1 {
  font-family: var(--font-heading);
  max-width: 40rem;
}

.header p {
  max-width: 34rem;
  margin: 0 auto;
  font-size: 1.1rem;
}
